<h1>論文の編集・更新</h1>
<%= form_with model: @article, local: true do |form| %>

  <p>論文タイトル<br>
    <%= form.text_field :title %>
  </p>

  <p>
    本文<br>
    <%= form.text_area :body, :size=>"40x8" %>
  </p>

  <div class="actions">
    <%= form.submit "更新", class: 'sign-btn' %>
  </div>


<% end %>